.task-preview , .task-preview-kanban{
    .task-person {
        cursor: pointer;
        height: 36px;
        min-width: $cell-width-person;
        position: relative;
        border: 1px solid $border-color;
        @include center-flex();

        .members-imgs {
            width: $cell-width-person;
            height: 100%;
            @include member-img($bg-primary, $text-primary, 30px, 30px);
            @include center-flex();
        }

        .icon-person {
            color: $text-secondary;
        }
    }
}