DB_URL=mongodb+srv://pritamcodeservir_db_user:test@plantseelingproject.cgru8ib.mongodb.net/taskdb
DB_NAME=taskdb
PORT=3031
SECRET1=pKDnPbrbruPj_x1e984u0y6ddiE
CORS_ORIGIN=http://127.0.0.1:3000,http://localhost:3000