.task-preview-kanban {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >* {
        margin-bottom: 8px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .picker {
        cursor: pointer;
        width: 100%;
        height: 36px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }
}