.dynamic-modal{
    position: absolute;
    background-color: $app-bg;
    border-radius: $spacing-small;
    padding: $spacing-small;
    box-shadow: $glass-shadow;
    border: 1px solid $border-color;
    border-radius: 8px;
    z-index: 1000;
}